*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.col-1{
    width: calc(100% /12);
}

.col-2{
    width: calc(100% / 6);
}

.col-3{
    width: 25%;
}

.col-4{
    width: calc(100% / 3);
}

.col-5{
    width: calc(100% / 12 * 5);
}

.col-6{
    width: 50%;
}

.col-7{
    width: calc(100% / 12 * 7);
}

.col-8{
    width: calc(100% / 12 * 8);
}

.col-9{
    width: 75%;
}

.col-10{
    width: calc(100% / 12 * 10);
}

.col-11{
    width: calc(100% / 12 * 11);
}

.col-12{
    width: 100%;
}

nav{
    display: flex;
    background-color: palevioletred;
    color: #fff;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
}

nav > ul > li:first-child a{
    font-size: 2rem;
    padding: 0.5rem 2rem;
}
nav ul{
    display: flex;
    list-style: none;
}

nav > ul li:hover{
    background-color: rgb(177, 51, 93);
}

nav a{
    display: block;
    padding: 1rem 1.3rem;
}

nav form{
    padding-right: 1.5rem;
}


.btn-success{
    padding: 6px 10px;
    background-color: rgb(177, 51, 93);
    color: #fff;
    border: 1px solid  rgb(146, 39, 75);
    border-radius: 5px;
}

body > form{
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    background-color: gainsboro;
}

label{
    display: block;
}

/*input[type=text],input[type=password]{*/
input{
    padding: 5px 10px;
    /*border-radius: 5px;*/
    border: none;
    border-bottom: 5px solid rgb(38, 96, 232);
    outline:none;
}

input:hover{
    border-bottom-color:rgb(38, 187, 232);
}

input:focus{
    background-color: rgba(0, 242, 255, 0.296);
    background-image: url(../imgs/circulo.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center right;
    padding-left: 30px;
}

/*colocar el estado de validación en los input*/

.validado input:valid{
    border-bottom-color:rgb(10, 195, 75);
}

.validado input:invalid{
    border-bottom-color:rgb(210, 12, 12);
}
