*{
    padding: 0;    
    margin: 0;
}

#encCarrera{
    background-color: black;
    color: white;
    padding: 80px 60px;
}

body{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

#usoEm{
    font-size: 1.5rem;
}

#usoEm div{
    font-size: 1.5rem;
}

div#encCarrera h3{
    font-weight: 100;
}